*.iml
.tiki
.npmrc
*.log
.idea
.entry
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
package-lock.json
yarn-error.log
lerna-debug.log
Thumbs.db
.project
.*proj
.svn
*.swp
*.swo
*.pyc
*.pyo
node_modules
.cache
*.xcworkspace
.tea
.entry
/build/
/lib/
demo/es/
dist/
es/
