@import (reference) '../style/themes/default.less';

@h-spacing-large: 8px;
@v-spacing-large: 8px;
@h-spacing-standard: 8px;
@v-spacing-standard: 8px;
@border-width-standard: 1px;
@color-divider-line: var(--gray20);
@color-fill-grey-light: var(--gray40);
@color-fill-grey-inverse: var(--white);
@color-text-subtitle: var(--gray60);
@color-text-base: var(--text-color);
@font-size-list: 14px;
@font-size-content: 14px;
@size-6: 24px;
@size-4: 12px;
@size-1: 4px;
@size-2: 8px;
@size-15: 60px;
@line-height-paragraph: 20px;
@font-size-subtitle: 10px;

.tm-sidebar {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;

  &-bar {
    width: @size-15 * 2;
    overflow: hidden;
    &-line {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 4px;
      overflow: hidden;
      font-size: 0;
    }
    &-placehold {
      flex: 1 1 0%;
    }
  }

  &-bar-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-bar-tab {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: var(--space-inline-2x-small) var(--space-inline-medium);
    &__hover {
      opacity: 0.6;
    }
    &__active {
      font-size: @font-size-subtitle;
      font-size: var(--tm-sidebar-fontSize-active, @font-size-subtitle);
    }
    &__same {
      font-size: @font-size-content;
      font-size: var(--tm-sidebar-fontSize-same, @font-size-content);
    }
    &-arrow {
      margin-left: 8px;
      &.down {
        transform: rotate(0deg);
        transition: transform 0.2s linear;
      }
      &.up {
        transform: rotate(180deg);
        transition: transform 0.2s linear;
      }
    }
    &-child {
      margin-left: -16px;
      margin-right: -16px;
      background: #fff;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 24px;
      padding-right: 16px;
      // padding: var(--space-inline-2x-small) var(--space-inline-medium);
    }
  }

  &-bar-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-content {
      position: relative;
      display: flex;
      align-items: center;
      &.vertical {
        flex-direction: column;
      }
      &-image {
        width: 24px;
        height: 24px;
      }
    }
    & .tm-sidebar-bar-tab-badge {
      &.right {
        margin-left: 8px;
      }
      &.top {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(60%, -50%);
      }
    }
  }

  &-content-wrap {
    overflow: hidden;
    flex: 1;
    height: 100%;
    background-color: var(--background-panel);
  }

  &-slides {
    height: 100%;
  }

  &-slides.animate {
    transition-duration: 300ms;
  }
}
