.tu-avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &-circle {
    border-radius: 50%;
    image {
      border-radius: 50%;
    }
  }
  &-square {
    border-radius: 8px;
    image {
      border-radius: 8px;
    }
  }
  &-name {
    text-align: center;
  }
  &-color {
    &-blue30 {
      background: var(--color-global-blue30);
    }
    &-green30 {
      background: var(--color-global-green30);
    }
    &-orange30 {
      background: var(--color-global-orange30);
    }
    &-red30 {
      background: var(--color-global-red30);
    }
    &-yellow30 {
      background: var(--color-global-yellow30);
    }
  }
  &-border {
    border: solid 2px var(--white);
    &.small {
      border-width: 1px;
    }
  }
}
