.tu-icon-header {
  height: 24px;
  width: 24px;
}

.tu-c-container {
  padding: 16px;
  border-radius: 4px;

  .tu-c-head {
    display: flex;
    justify-content: space-between;
    &-text {
      font-size: 16px;
    }
  }
}

.tu-c-head-days {
  display: flex;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  .tu-c-head-day {
    width: 14.258%;
    font-size: 16px;
    color: var(--gray60);
    text-align: center;
  }
}

.tu-c-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .tu-c-date-wrapper {
    width: 14.285%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tu-c-date-container {
    padding-top: 16px;
    padding-bottom: 16px;
    position: relative;
    .c-date {
      font-size: 16px;
      text-align: center;
      &-tag {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        font-size: 10px;
        color: var(--gray60);
      }
    }
  }

  .tu-c-date-wrapper:active,
  .tu-c-date-wrapper:hover {
    background: rgba(178, 217, 250, 0.4);
    color: var(--brand);
    border-radius: 8px;
  }

  .tu-c-date-wrapper.today {
    width: calc(14.285% - 2px);
    border: 1px solid var(--brand);
    border-radius: 8px;
    color: var(--brand);
    font-weight: bold;
  }

  .tu-c-date-wrapper.inrange {
    background: rgba(178, 217, 250, 0.4);
    border-radius: 0;
    border: none;
    color: var(--black);
    font-weight: normal;
  }

  .tu-c-date-wrapper.selected {
    background: rgba(178, 217, 250, 0.4);
    color: white;
    font-weight: bold;
    border-radius: 0;
    border: none;
    &.range,
    &.start,
    &.end {
      .tu-c-date-container {
        background: var(--brand);
        width: 100%;
        border-radius: 8px;
      }
    }
  }

  .tu-c-date-wrapper.disabled {
    color: rgba(166, 166, 176, 0.6);
    cursor: not-allowed;
    pointer-events: none;
  }
}
