.tu-icon-header {
  height: 24px;
  width: 24px;
}

.tu-c-container {
  padding: 16px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  .tu-c-head {
    display: flex;
    justify-content: space-between;
    &-text {
      font-size: 16px;
    }
  }
}

.tu-c-head-days {
  display: flex;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  .tu-c-head-day {
    width: 14.258%;
    font-size: 16px;
    color: var(--gray60);
    text-align: center;
  }
}

.tu-c-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .tu-c-date-container {
    position: relative;
    width: calc(14.285% - 32px);
    padding: 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    .c-date {
      font-size: 16px;
      text-align: center;
      &-tag {
        position: absolute;
        bottom: 0;
        font-size: 10px;
        color: var(--gray60);
      }
    }
  }

  .tu-c-date-container:active,
  .tu-c-date-container:hover {
    background: rgba(178, 217, 250, 0.4);
    color: var(--brand);
  }
  .tu-c-date-container.inrange {
    background: rgba(178, 217, 250, 0.4);
    border-radius: 0;
  }
  .tu-c-date-container.today {
    width: calc(14.285% - 34px);
    border: 1px solid var(--brand);
    border-radius: 8px;
    color: var(--brand);
    font-weight: bold;
  }
  .tu-c-date-container.selected {
    background: var(--brand);
    color: white;
    font-weight: bold;
  }
  .tu-c-date-container.disabled {
    color: rgba(166, 166, 176, 0.6);
    cursor: not-allowed;
    pointer-events: none;
  }
}
