.deleteBtn {
  color: #f93a4a;
  font-weight: bolder;
}

.cancelBtn {
  color: #ccc;
}

.buttonBold, .modalButtonBold .am-modal-footer {
  font-weight: bold;
}

.modal-item {
  margin-top: 10px;
}
button {
  margin: 8px;
}
