@colors: white, gray10, gray20, gray30, gray40, gray50, gray60, gray70, gray80, gray90, gray100,
  black, blue, green, yellow, orange, red, brand, success, error;

@radiusSizes: sharp, 4px, 8px, pill;
@radiusValues: 0, 4px, 8px, 9999px;

@divideSizes: thin, thick;

@spacingSizes: 0, 5x-small, 4x-small, 3x-small, 2x-small, x-small, small, medium, large, x-large,
  2x-large, 3x-large;

@fontSizes: x-small, small, base, medium, large, x-large, 2x-large, 3x-large, 4x-large, 5x-large;

@fontWeights: black, bold, medium, regular, light, thin;

:root {
  --space-stack-0: 0;
  --space-inline-0: 0;
  --space-inset-0: 0;

  // Remove those tokens after have new tokens
  --color-global-blue30: #C2E1FF;
  --color-global-green30: #B7EFC3;
  --color-global-orange30: #FFD1A4;
  --color-global-red30: #FFB8BC;
  --color-global-yellow30: #FFE880;
}
