@import (reference) "../style/themes/default.less";

@h-spacing-large: 8px;
@v-spacing-large: 8px;
@h-spacing-standard: 8px;
@v-spacing-standard: 8px;
@border-width-standard: 1px;
@color-divider-line: var(--gray20);
@color-fill-grey-light: var(--gray40);
@color-fill-grey-inverse: var(--white);
@color-text-subtitle: var(--gray60);
@color-text-base: var(--text-color);
@font-size-list: 14px;
@font-size-content: 14px;
@size-6: 24px;
@size-4: 12px;
@size-1: 4px;
@line-height-paragraph: 20px;

.tm-tabs {
  &-tab-bar-wrap {
    width: 100%;
  }

  &-bar {
    position: relative;
    background-color: var(--background-panel);
    display: flex;
    align-items: stretch;
    width: 100%;
    border-bottom: @border-width-standard solid @color-divider-line;
    box-sizing: border-box;
    z-index: 1;
    &-sticky {
      position: sticky;
    }
  }

  &-bar-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &-bar-content-wrap {
    position: relative;
    flex: 1 1 auto;
    overflow: hidden;
    margin-bottom: -1px;
  }

  &-bar-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 auto;
    font-size: @font-size-list;
    white-space: nowrap;
    &-mainTitle {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      &-text {
        color: var(--text-panel-inactive);
        &-active {
          color: var(--text-panel-active);
          font-weight: var(--font-weight-bold);
        }
      }
      &-image {
        width: 24px;
        height: 24px;
      }
    }
    &-badge, .tm-badge {
      &.right {
        margin-left: 2px;
      }
      &.top {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(15%, -50%);
      }
    }
    &__hasSubTitle {
      margin-right: @size-4;
      &:last-child {
        margin-right: 0;
      }
    }
    &-subTitle {
      margin-top: 8 * @pixelSize;
      padding: 0 @h-spacing-standard;
      font-size: @font-size-content;
      line-height: @line-height-paragraph;
      border-radius: 50vh;
    }
    &-number {
      margin-left: @size-1;
      font-size: @font-size-content;
      font-size: var(--tm-tabs-number-fontSize, @font-size-content);
      color: @color-text-subtitle;
      color: var(--tm-tabs-number-color, @color-text-subtitle);
      &_active {
        color: @color-text-base;
        color: var(--tm-tabs-number-color__active, @color-text-base);
      }
    }
    &__hover {
      opacity: 0.6;
    }
  }

  &-bar-title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-stack-2x-small);
    box-sizing: border-box;
    flex: 1;
    height: 100%;

    &__hasSubTitle {
      flex-direction: column;
      margin-right: 0;
      text-align: center;
      border-bottom: 0 none;
    }
    &-underline {
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 1px;
      overflow: hidden;
      font-size: 0;
      box-sizing: border-box;
      animation: underlineShow 200ms linear 0ms 1 forwards;
      background-color: var(--border-panel-active);
    }
  }

  &-content-wrap {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    overflow: hidden;
    height: auto;
    background-color: @color-fill-grey-inverse;
    &_H100 {
      height: 100% !important;
    }
  }

  &-slides {
    width: 100%;
    display: flex;
  }
}

@keyframes underlineShow {
  0% {
    transform: scale(0.1) translateX(-100%);
  }
  100% {
    transform: scale(1) translateX(-50%);
  }
}
