.tu-chip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 4px;

  border-radius: var(--space-inline-16x);

  &-content {
    line-height: 1;
  }

  &-icon {
    padding: 8px;
  }

  &-none {
    border: 1px solid var(--gray30);
  }

  &-active {
    border: 1px solid var(--color-alias-brand);
    color: var(--color-alias-brand);
    font-weight: bold;
  }

  &:hover {
    background-color: var(--color-chip-background-hover);
  }

  &-left {
    margin-right: var(--space-inset-4x);
  }

  &-right {
    margin-left: var(--space-inset-4x);
  }

  &-left,
  &-right {
    display: flex;
    cursor: pointer;
    &-image {
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }

  &-disabled {
    pointer-events: none;
    border-color: var(--border-disabled);
    color: var(--text-disabled);

    .tu-chip-left,
    .tu-chip-right {
      opacity: 0.2;
    }
  }
}
