// ======== variables ========
@milestone-space: var(--space-stack-4x, 4px);
@connect-line-width: var(--space-stack-4x, 4px);
@background-progress-inactive: var(
  --inactive-color,
  var(--color-steps-progress-background-inactive)
);
@background-progress-active: var(--active-color, var(--color-steps-progress-background-active));

@background-milestone-inactive: var(
  --inactive-color,
  var(--color-steps-milestone-background-inactive)
);
@background-milestone-active: var(--active-color, var(--color-steps-milestone-background-active));
@background-milestone-error: var(
  --milestone-error-color,
  var(--color-steps-milestone-background-error)
);
@milestone-width: var(--milestone-size, var(--space-inline-16x, 16px));

@step-sub-color: var(--color-steps-sub-text-default);
@step-transition: all 0.2s linear;

@font-size-label: var(--font-size-large);

// ======== mixins ========
.tu-steps-sub-text() {
  font-style: var(--font-style-normal, normal);
  font-weight: var(--font-weight-normal, normal);
  font-size: var(--font-size-base, 14px);
  line-height: 21px;
  color: @step-sub-color;
}

.tu-steps-label-text() {
  font-style: var(--font-style-normal, normal);
  font-weight: var(--font-weight-normal, normal);
  font-size: var(--font-size-medium, 16px);
  line-height: var(--font-height-default, 21px);
}

.tu-steps-container {
  .tu-steps-step {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: relative;

    .tu-steps-label {
      .tu-steps-label-text();
    }
    .tu-steps-sub {
      .tu-steps-sub-text();
    }
    .tu-steps-milestone {
      width: @milestone-width;
      height: @milestone-width;
      margin-bottom: 8px;
      border-radius: 50%;
      border-width: @milestone-space;
      border-color: transparent;
      border-style: solid;
      display: inline-block;
      align-self: center;
      box-sizing: content-box;

      &::before {
        content: '';
        display: flex;
        align-self: center;
        width: @milestone-width;
        height: @milestone-width;
        border-radius: 50%;
        background-color: @background-progress-inactive;
        transition: @step-transition;
      }
    }
  }

  &.tu-steps-horizontal {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    .tu-steps-step {
      &::before {
        transition: @step-transition;
        position: absolute;
        top: calc((@milestone-width + @connect-line-width) / 2);
        content: '';
        background-color: @background-progress-inactive;
        width: calc(100% - @milestone-width - (@milestone-space * 2));
        height: @connect-line-width;
        right: calc(50% + (@milestone-width / 2) + @milestone-space);
      }

      // ======== active style ========
      &.tu-steps-active {
        .tu-steps-milestone:before,
        &::before {
          background-color: @background-progress-active;
        }
      }
      // ======== error style ========
      &.tu-steps-error {
        .tu-steps-milestone:before {
          background-color: @background-milestone-error;
        }
      }

      // ======== current step style ========
      &.tu-steps-current {
        .tu-steps-label {
          font-weight: bold;
        }
      }

      // ======== overide style ========
      &:first-child:before,
      &:last-child:after {
        background-color: transparent;
      }
    }
  }
  &.tu-steps-vertical {
    justify-content: space-around;
    display: flex;
    flex-direction: var(--vertical-reverse-direction, column);
    // flex-direction: column;
    .tu-steps-step {
      display: flex;
      flex-direction: column;
      position: relative;
      padding-left: calc(@milestone-width + 16px);
      max-width: calc(100% - calc(@milestone-width + 16px));
      text-align: left;

      .tu-steps-label {
        font-size: var(--font-size-base, 14px);
      }

      .tu-steps-sub {
        margin-top: var(--space-stack-4x, 4px);
        margin-bottom: var(--space-stack-8x, 8px);
        display: block;
        .tu-steps-sub-text();
      }
      .tu-steps-milestone {
        position: absolute;
        left: 0;
        width: @milestone-width;
        height: @milestone-width;
        margin-bottom: 8px;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 50%;
        border-width: @milestone-space;
        border-color: transparent;
        border-style: solid;
        display: inline-block;
        align-self: center;
        box-sizing: content-box;
        transition: @step-transition;
        &::before {
          content: '';
          display: flex;
          align-self: center;
          width: @milestone-width;
          height: @milestone-width;
          border-radius: 50%;
          background-color: @background-progress-inactive;
        }
      }
      &::after {
        transition: @step-transition;
        position: absolute;
        top: calc(@milestone-width + (@milestone-space * 2));
        content: '';
        background-color: @background-progress-inactive;
        height: calc(100% - @milestone-width - (@milestone-space * 2));
        width: @connect-line-width;
        left: calc(@milestone-width / 2 + @milestone-space / 2 + @connect-line-width);
      }

      // ======== active style ========
      &.tu-steps-active {
        .tu-steps-milestone:before {
          background-color: @background-progress-active;
        }
      }
      &.tu-steps-active-line {
        &::after {
          background-color: @background-progress-active;
        }
      }

      // ======== error style ========
      &.tu-steps-error {
        .tu-steps-milestone:before {
          background-color: @background-milestone-error;
        }
      }

      // ======== current step style ========
      &.tu-steps-current {
        .tu-steps-label {
          font-weight: bold;
        }
      }
    }
  }
}
