.tm-stepper-content,
.tm-stepper-operation,
.tm-stepper-input {
  display: flex;
}

.tm-stepper-input {
  margin: 0 var(--space-inline-4x-small);
  padding: var(--space-inset-2x-small);
}

.tm-stepper-input-vertical {
  margin: var(--space-inline-4x-small) 0;
  padding: var(--space-inset-2x-small);
}

/* hack into input style to make its content center */
.tm-stepper-input .t-input-content {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-medium);
  line-height: var(--font-height-medium);
}

/* hack into input style to hide input */
.tm-stepper-input-hide .t-input-content {
  visibility: hidden;
}

.tm-stepper-operation {
  justify-content: center;
  align-items: center;
  width: var(--tm-stepper-option-size, 40px);
  height: var(--tm-stepper-option-size, 40px);
  border: 1px solid var(--brand);
  border-radius: var(--border-radius-rounded-4px);
}

.tm-stepper-operation-disable {
  border: 1px solid var(--gray20);
}

/* hack into icon style to make icon center */
.tm-stepper-operation icon {
  display: flex;
}
