.tu-textfield{
  @size: 40px;

  &.square {
    text-align: center;
    width: @size;
    height: @size;
    .tu-textfield-input {
      padding-left: var(--space-inset-2x-small);
      padding-right: var(--space-inset-2x-small);
    }
  }
  &.circle {
    text-align: center;
    width: @size;
    height: @size;
    .tu-textfield-input {
      padding-left: var(--space-inset-2x-small);
      padding-right: var(--space-inset-2x-small);
      border-radius: 50%;
    }
  }
  &.pill {
    .tu-textfield-input {
      border-radius: 100px;
    }
  }
  &.error {
    .tu-textfield-input {
      border-color: var(--error);
    }
  }

  .tu-textfield-error-message {
    color: var(--error);
    font-size: var(--font-size-small);
    margin-top: var(--space-stack-4x-small);
  }

  .tu-textfield-error-icon {
    position: absolute;
    // NOTE: Info icon has small size than the others
    top: calc(var(--space-inset-2x-small) + 2px);
    padding: 0 2px;
  }

  .tu-textfield-icon {
    position: absolute;
    right: var(--space-inline-2x-small);
    top: var(--space-inset-2x-small);
  }

  .tu-textfield-inline {
    position: relative;
    display: flex;
    align-items: center;

    & .tu-textfield-input {
      flex: 1;
    }
  }
}
