@import '../style/mixins/hairline.less';
@import (reference) '../style/themes/default.less';

@pagination-button-width: 40px;
@pagination-button-height: 40px;
@pagination-min-width: 200px;

.content-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tu-pagination-button {
  width: @pagination-button-width;
  height: @pagination-button-height;
  color: var(--color-pagination-full-text-default);
  background: transparent;
  border-radius: 8px;
  font-size: var(--font-size-base);
  font-style: var(--font-style-normal);
  cursor: pointer;
  text-overflow: unset;
  border: solid 1px transparent;
  &:hover {
    background: transparent;
  }
}
.tu-pagination:extend(.content-center) {
  //pagination type
  .tu-pagination-page:extend(.content-center) {
    background-color: var(--color-pagination-full-background-default);
    border-radius: 8px;
    margin: 0 8px;
    .tu-pagination-button__active {
      background-color: var(--color-pagination-full-background-current);
      color: var(--color-pagination-full-text-current);
    }
  }
  .tu-pagination-number:extend(.content-center) {
    min-width: @pagination-min-width;
    margin: 0 8px;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    font-style: var(--font-style-normal);
    .tu-pagination-button__active {
      font-weight: var(--font-weight-bold);
      color: var(--color-pagination-full-background-current);
    }
  }

  //button jump
  .tu-pagination-jump:extend(.tu-pagination-button, .content-center) {
    border: 1px solid var(--blue60);
    background-color: var(--color-alias-primary-on-reverse-theme);
    border-radius: 4px;
    min-width: @pagination-button-width;
    box-sizing: border-box;
  }
  .tu-pagination-jump__disabled {
    cursor: not-allowed;
    border: 1px solid var(--color-alias-outline-variant);
  }
}
