.tu-label {
  display: flex;
  flex-direction: column;

  &-inline {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-bold);
    font-size:  var(--font-size-base);
    margin-bottom: var(--space-inline-4x-small);
    color: var(--text-color);
    &-has-helper {
      margin-bottom: 0;
    }
    &-disabled {
      color: var(--text-disabled)
    }
  }
  &-dot {
    margin-right: var(--space-inline-4x-small);
  }
  &-icon {
    margin-left: var(--space-inline-4x-small);
  }
  &-helper {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
    color: var(--text-content-tertiary);
    margin-bottom: var(--space-inline-4x-small);
  }
  &-loading {
    background: rgba(var(--gray50-rgb), 0.2);
    border-radius: var(--border-radius-pill);
    width: 80px;
    margin-bottom: var(--space-inline-4x-small);
    height: 12px;
  }
}
