@import '../variables.less';
@import '../mixins.less';

.bg-transparent {
  background-color: transparent;
}

each(@colors, {
  @normalizeValue: replace(~"@{value}", ' ', '-');

  .bg-@{normalizeValue} {
		background-color: var(~"--@{normalizeValue}");
  }
});

.bg-white {
  background-color: var(--color-global-white);
}

.bg-black {
  background-color: var(--color-global-black);
}

.bg-brand {
  background-color: var(--color-alias-brand);
}

.classify(@subject, @step) {
  .bg-@{subject}@{step} {
    background-color: var(~'--color-global-@{subject}@{step}');
  }
}

.loop(@subjects: @newColors, @steps: @colorSteps);
