@import '../variables.less';
@import '../mixins.less';

each(@spacingSizes, {
	@normalizeValue: replace(~"@{value}", ' ', '-');

	.gap-@{normalizeValue} {
		gap: var(~"--space-stack-@{normalizeValue}");
	}

	.gapx-@{normalizeValue} {
		row-gap: var(~"--space-inline-@{normalizeValue}");
	}

	.gapy-@{normalizeValue} {
		column-gap: var(~"--space-stack-@{normalizeValue}");
	}
});

.classify(@subject, @step) {
  .gap-@{step} {
    gap: var(~'--space-stack-@{step}x');
  }
}

.loop(@steps: @spacingSteps);

.classify(@subject, @step) {
  .gapx-@{step} {
    row-gap: var(~'--space-inline-@{step}x');
  }
}

.loop(@steps: @spacingSteps);

.classify(@subject, @step) {
  .gapy-@{step} {
    column-gap: var(~'--space-stack-@{step}x');
  }
}

.loop(@steps: @spacingSteps);
